annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4"
anyio==4.10.0 ; python_version >= "3.11" and python_version < "4"
aps-agent==0.2.0 ; python_version >= "3.11" and python_version < "4"
async-timeout==5.0.1 ; python_version == "3.11" and python_full_version < "3.11.3"
attrs==25.3.0 ; python_version >= "3.11" and python_version < "4"
cachetic==0.4.1 ; python_version >= "3.11" and python_version < "4"
certifi==2025.8.3 ; python_version >= "3.11" and python_version < "4"
charset-normalizer==3.4.3 ; python_version >= "3.11" and python_version < "4"
chunkle==0.3.0 ; python_version >= "3.11" and python_version < "4"
click==8.2.1 ; python_version >= "3.11" and python_version < "4"
codepress==0.2.2 ; python_version >= "3.11" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4"
dictpress==0.3.0 ; python_version >= "3.11" and python_version < "4"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "4"
distro==1.9.0 ; python_version >= "3.11" and python_version < "4"
duckdb==1.3.2 ; python_version >= "3.11" and python_version < "4"
griffe==1.14.0 ; python_version >= "3.11" and python_version < "4"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "4"
httpx-sse==0.4.1 ; python_version >= "3.11" and python_version < "4"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "4"
idna==3.10 ; python_version >= "3.11" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4"
jiter==0.10.0 ; python_version >= "3.11" and python_version < "4"
joblib==1.5.2 ; python_version >= "3.11" and python_version < "4"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_version < "4"
jsonschema==4.25.1 ; python_version >= "3.11" and python_version < "4"
logging-bullet-train==0.3.0 ; python_version >= "3.11" and python_version < "4"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "4"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4"
mcp==1.13.1 ; python_version >= "3.11" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4"
ner-agent==0.4.1 ; python_version >= "3.11" and python_version < "4"
networkx==3.5 ; python_version >= "3.11" and python_version < "4"
numpy==2.3.2 ; python_version >= "3.11" and python_version < "4"
openai-agents==0.2.11 ; python_version >= "3.11" and python_version < "4"
openai-embeddings-model==0.4.0 ; python_version >= "3.11" and python_version < "4"
openai-usage==0.3.5 ; python_version >= "3.11" and python_version < "4"
openai==1.106.1 ; python_version >= "3.11" and python_version < "4"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "4"
puremagic==1.30 ; python_version >= "3.11" and python_version < "4"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "4"
pydantic-settings==2.10.1 ; python_version >= "3.11" and python_version < "4"
pydantic==2.11.7 ; python_version >= "3.11" and python_version < "4"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_version < "4"
python-multipart==0.0.20 ; python_version >= "3.11" and python_version < "4"
pywin32==311 ; python_version >= "3.11" and python_version < "4" and sys_platform == "win32"
redis==6.4.0 ; python_version >= "3.11" and python_version < "4"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "4"
regex==2025.9.1 ; python_version >= "3.11" and python_version < "4"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4"
rich-color-support==0.1.0 ; python_version >= "3.11" and python_version < "4"
rich==14.1.0 ; python_version >= "3.11" and python_version < "4"
rpds-py==0.27.1 ; python_version >= "3.11" and python_version < "4"
scikit-learn==1.7.1 ; python_version >= "3.11" and python_version < "4"
scipy==1.16.1 ; python_version >= "3.11" and python_version < "4"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4"
sse-starlette==3.0.2 ; python_version >= "3.11" and python_version < "4"
starlette==0.47.3 ; python_version >= "3.11" and python_version < "4"
str-or-none==0.1.0 ; python_version >= "3.11" and python_version < "4"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "4"
tiktoken==0.11.0 ; python_version >= "3.11" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4"
types-requests==2.32.4.20250809 ; python_version >= "3.11" and python_version < "4"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4"
typing-inspection==0.4.1 ; python_version >= "3.11" and python_version < "4"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "4" and platform_system == "Windows"
tzlocal==5.3.1 ; python_version >= "3.11" and python_version < "4"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4"
uuid-utils==0.11.0 ; python_version >= "3.11" and python_version < "4"
uvicorn==0.35.0 ; python_version >= "3.11" and python_version < "4" and sys_platform != "emscripten"
